# Problem Set #1
## Introduction to Python for Climate Science
*Don't be scared!  I've done most the coding for you.*

(Some of this intro stuff is mostly copied from the [official python tutorial](https://docs.python.org/3/tutorial/)). 

This course fulfills a science (SCI) distributive requirement. 

Much of climate science is the application of fundamental physics (e.g., F=MA) to the Earth system. 

In modern climate science, a huge amount research is performed using scientific computing. It is essentially a data science.

In the analysis of climate & weather extremes, the subject matter of this course, most of it is performed with computing. [Not all of us get to fly planes into hurricanes.](https://www.youtube.com/watch?v=6gFWwtZX6Sg)

So instead of getting you some flying experience, we're going to get you some coding experience. So you're going to learn a bit of one of the most versatile programming languages, `Python`. 
#### **Overall objectives of problem sets:**
1. Demystify scientific computing and programming using Python
2. Recognize commonly used data in climate science
3. Apply Python computing methods to climate data
4. Interpret results generated from scientific computing

### **Learning objectives of Problem Set #1**

1. Explore basic principles of Python
2. Learn commonly used functions to explore simple, relevant climate data

**Total points for this problem set: 21 pts**
*   Example codes executed: 5 pts
*   Correct answers to problems: 11 pts
*   Comments added to responses: 5 pts

## #1. Invoking Python #

There are three main ways to use python.

1. By running a python file, which is like a text file that contains coding commands, e.g. `python myscript.py`
1. Through an interactive console (Python interpreter or iPython shell)
1. In an interactive iPython/Jupyter notebook

We will be using the iPython notebook, also known as a Jupyter Notebook, which is this webage you're currently reading.

You could install Jupyter on your laptop via [Anaconda](https://www.anaconda.com/). However, instead of installing and compiling all of the code on your laptop (all the software dependencies, etc., making sure everyone has the same environment on a bunch of different laptops), you're just going to run all the analysis here, on this savable webpage, which is running on Dartmouth's Discovery Cluster (i.e., a network of computers) provided by your being a Dartmouth student. So you are all now using scientific cloud computing. Congrats!

**How do I turn in my problem set?**

You'll notice up above the menu bar that the notebook files have ".ipynb" at the end. So when you edit, save, and download this file to turn in on Canvas (which we'll get to later), you will rename it to be called <YOUR_NAME>_PS1_GEOG18.ipynb.

## #2. Basic variables

### 2.1 Basic Variable Types

Below in the weirdly formatted text is your first ``code`` cell. It contains both comments (which tell us what the code is doing) and actual code (computer instructions) that the computer executes when you press the little play button to the left of the ``code`` cell. The comments come after a number sign (#). It tells the computer to ignore all the text on that line after it.

There is a little empty bracket [  ] to the left of code block. If it is empty, it means that you have not yet executed the code. It's written, but the computer hasn't been told to execute it. 

Read the code and comments on the code below. Then press the play button at the top of this Jupyter window.

In [ ]:
# comments are anything that comes after the "#" symbol
# there is a play (i.e., execute code) button at the top of this page
a = 1       # assign 1 to variable a
b = "Hello" # assign "hello" to variable b

The following identifiers are used as reserved words, or keywords of the Python, and cannot be used as ordinary identifiers (i.e., objects, like ``a`` or ``b``, above). They must be spelled exactly as written here:

    False      class      finally    is         return
    None       continue   for        lambda     try
    True       def        from       nonlocal   while
    and        del        global     not        with
    as         elif       if         or         yield
    assert     else       import     pass
    break      except     in         raise

In [ ]:
# How do we see our variables?
print(a)
print(b)
print(a,b)

All variables are objects. Every object has a type (class). 

The main types of objects, among many, include:
1. Numbers (`'int'`) - integers, rational numbers, imaginary numbers 
<br> Ex: `18, 4.32, 5+2j`

2. Strings (`'str'`) - sequences of ordered characters
<br> Ex: `"geography", "welcome to class"`

3. Lists (`'list'`) - positionally ordered collection of objects
<br> Ex: `[1,2,3,4], [35, "climate", 2]`

4. Dictionaries (`'dict'`) - a collection of objects, stored as keys instead of relative position
<br> Ex: `sample = {'year': '2020', 'day': 'Thursday'}`

5. Tuples (`'tuple'`) - similar to lists, but they cannot be extended or modified. They exist to pack together inhomogenous data.
<br> Ex: `a = ('Irma', '282 km/hr, 2017, True)`

To find out what type your variables are, use the `print` function:

In [ ]:
print(type(a))
print(type(b))

You can also change the type of object. 

*   To change an object to a string, use `str()`
*   To change an object to an integer, use `int()`

In [ ]:
# For example: 
x = "3"
print(type(x)) # Variable x is considered a string

# Change x from string to integer
x = int(x)

# Double check the type of object
print(type(x))

### Problem #1

1A - Create a variable that encodes for your name. Then, print the variable to see the variable.

Please add comments (with the # sign) next to your code for all of the problems to explain what you are doing.

In [ ]:
# ENTER CODE HERE

1B - Create a variable that is a list. Then, print to see the variable.

In [ ]:
# ENTER CODE HERE

1C - Create a variable that is a dictionary. Then, print to see the variable.

In [ ]:
# ENTER CODE HERE

### 2.1 Boolean Values

Boolean values are used to store `True` and `False` values. It is called `bool` in Python. Capitalization is important.

In [ ]:
# Let'see what it looks like
print(True)

In [ ]:
# What kind of type do values produce?
print(type(True))

Boolean expression evaluates an expression to a value. 

Common comparisons are:
1. `<` : less than
2. `<=` : less than or equal to
3. `>` : greater than
4. `>=` : greater than or equal to
5. `==` : is equal to
6. `!=` : is not equal to

In [ ]:
print(2 == 2)

In [ ]:
print(2 == 3)

In [ ]:
x = 300
print(x > 200)

### Problem #2

Given x = 349 and y = 104, how would you evaluate if these two variables were equal in Python?

Please add comments (with the # sign) next to your code for all of the problems to explain what you are doing.

In [ ]:
# Hint: Remember to write a code that compares the variables, not the actual values

# ENTER CODE HERE

## #3. Math

Basic arithmetic and boolean logic is part of the core python library. But as you saw above, it's far more than a calculator...

In [ ]:
# Addition and Subtraction
2+5-3

In [ ]:
# Multiplication
3*5

In [ ]:
# Division
20/4

In [ ]:
# Exponentiation
2**3

In [ ]:
# It can also deal with complex numbers
(2+3j) + (4-2j)

Mathematical formulas can be easily implemented:

In [ ]:
# For example, let's convert miles to kilometers.
# The ratio is 1 mile to 1.61 kilometers
# To convert 20 miles to kilometers, it would be:

miles = 20 # Store it as an object

print(miles*1.61) # Calculate the conversion and print

Recall when we reviewed different units used in climate science. 

Let's try calculating force using Python. Do you remember the formula from the lecture?

Don't worry if you don't. The formula is:

$$ F = m*a$$

In [ ]:
# We want the force of an object that is 100kgs and acceleration of 5m/s^2

# Store the values as a variable
mass = 100 
accl = 5

# Calculate and store it as a force variable
force = mass*accl

# Let's see the value
print(force)

# We also want to include units
print(force, "Newtons")

### Problem #3

Calculate the force of a 293 kgs object with an acceleration rate of 34m/s^2. 

Please add comments (with the # sign) next to your code for all of the problems to explain what you are doing.

In [ ]:
# ENTER CODE HERE

### Problem #4
Often times, the temperature in climate science is given in Celsius, not Farenheit.

The formula to convert temperature in Farenheit to Celsius is: 

$$T_{C} = (T_{F} - 32) * (5/9)$$

Please convert 57 degrees Farenheit to Celsius.

Please add comments (with the # sign) next to your code for all of the problems to explain what you are doing.

In [ ]:
# ENTER CODE HERE

## #4. Working with Lists

Lists are crucial data types in Python. They are collection which is changeable and ordered.

Commonly used basic functions for lists include: 


1. `list.append(x)` - adding an item to an exist list
2. `list.insert(i,x)` - add an item to a specified position 
3. `list.remove(x)` - remove an item from a list
4. `list.index(x)` - print the index of the first item whose value equals x
5. `list.sort()` - sort the items in a list
6. `list.reverse()` - reverse the order of items in a list
7. `list.count(x)` - return the number of times x is present in the list

We will go through some of these functions one by one.

We will go through some of these functions one by one using this data from some of the most expensive disasters in 2019:

|   Disaster    | Cost in billions |
|------|------|
|   Typhoon Hagibis  | 15 |
|   Cyclone Idai  | 2.7 |
|   Hurricane Dorian  | 10 |
|   Australian Wildfires  | 5 |
|   Western and Central Europe Heatwave  | 1.7 |

In [ ]:
# Here is the extracted list of only the disaster names:
disasters_in_2019 = ["Typhoon Hagibis", "Hurricane Dorian", "Australia Wildfires", 
                     "Cyclone Idai", "Western and Central Europe Heatwave", "-"]

# View
print(disasters_in_2019)

In [ ]:
# Add Tropical Storm Imelda to the list
disasters_in_2019.append("Tropical Storm Imelda")

# Check to see if it has been added
print(disasters_in_2019)

In [ ]:
# Let's see which position in the list Cyclone Idai is located
disasters_in_2019.index("Cyclone Idai")

Look back at the list you created. Is it located at the third position? 

No! It's actually the fourth item!  Turns out that Python uses what is called ["zero-based numbering"](https://en.wikipedia.org/wiki/Zero-based_numbering). 

It essentially means that Python starts counting at 0 rather than 1.

In [ ]:
# Remove the weird "-" from the list
disasters_in_2019.remove("-")

# Check to see if it has been removed
print(disasters_in_2019)

In [ ]:
# Sort alphabetically and view
disasters_in_2019.sort()
disasters_in_2019

In [ ]:
# Reverse the order of the list
disasters_in_2019.reverse()
disasters_in_2019

In [ ]:
# Count the number of times Hurricane Dorian appears in the list
disasters_in_2019.count("Hurricane Dorian")

### Problem #5

Here is the data from the same table above:

|   Disaster    | Cost in billions |
|------|------|
|   Typhoon Hagibis  | 15 |
|   Cyclone Idai  | 2.7 |
|   Hurricane Dorian  | 10 |
|   Australian Wildfires  | 5 |
|   Western and Central Europe Heatwave  | 1.7 |


Use this data to answer 5A - 5E. Please add comments (with the # sign) next to your code for all of the problems to explain what you are doing.

5A - Make a list of only the cost of the disasters.

In [ ]:
# ENTER CODE HERE

5B - Which position is $5 billion located in?

In [ ]:
# ENTER CODE HERE

5C - Add cost of Tropical Storm Imelda ($3.5 billion) to the list.

In [ ]:
# ENTER CODE HERE

5D - What was the cost of the most expensive disaster? Please use functions we learned in this problem set to answer.

In [ ]:
# ENTER CODE HERE

5E - How many times does Cyclone Idai appear in the list? Please use functions we learned in this problem set to answer.

In [ ]:
# ENTER CODE HERE

### Who did you do this problem set with?

# Process Log (to complete):

How did you approach these problems?

Did you run into any errors or confusing results? What were they?

What changes did you make to fix or improve your code?

What was the most important thing you learned from this exercise?